html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background: #e4e4e4;
  font-size: 18px;
}

h1,h2,h3,h4,h6 {
  font-weight: bold;
  margin-top: 0px;
}

@media only screen and (max-width: 1170px) {
  h1{
    margin-top: 5px;
    }
  }

h4{
  color: #660198;
}

hr {
  background:  #660198;
}

.pad {
	padding-bottom: 30px !important;
	width: 100%;
}

h5:before{
	content: "\e080";
	font-family: 'Glyphicons Halflings';
	margin-top: 20px;
	margin-left: 0px !important;
	padding-left: 0px !important;
	color: #660198;
}

#header{
  background: #0f0f0f;
  color: white;
  padding-top: 30px;
  padding-bottom: 15px;
  border-top: 2px solid #660198;
  border-bottom: 2px solid #660198;
}

#header > ul,li {
  display: inline;
}

@media only screen and (max-width: 1170px) {
  #header{
    text-align: center;
    }
  }

#center {
	text-align: center;
}

#right {
	text-align: right;
}

#profile {
  position: relative;
  width:220px;
  height: 220px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 50%;
  text-align: center;
}

/* hi.php */
.form-control {
	width: 50%;
}

.btn{
	background-color: black;
  margin-bottom: 15px;
  border: 2px solid black;
}

.btn:hover {
	background: #660198;
  border-color: black;
}

.container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width
  width: 80%; */
  max-width: 1170px;
  margin: 0 auto;
}
.container:after {
  /* clearfix */
  content: '';
  display: table;
  clear: both !important;
}

#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#timeline:before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px !important;
  background:  #ffffff;
}

@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #timeline:before {
    left: 50%;
    margin-left: -2px;
		background: #ffffff;
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;
}
.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-block:first-child {
  margin-top: 0;
}
.timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 3em 0;
  }
  .timeline-block:first-child {
    margin-top: 0;
  }
  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

.timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.timeline-img.devit {
  background: #f0ca45;
}
.timeline-img.playboard {
  background: #75ce66;
}
.timeline-img.sociallgreen {
  background: #c03b44;
}
.timeline-img.academic {
  background: #660198;
}

@media only screen and (min-width: 1170px) {
  .timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.timeline-img img {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

@media only screen and (max-width: 1170px) {
  .timeline-img img {
    width: 24px;
    height: 24px;
    margin-left: -12px !important;
    margin-top: -12px !important;
  }
}

.cssanimations .timeline-img.is-hidden {
  visibility: hidden;
}
.cssanimations .timeline-img.bounce-in {
  visibility: visible;
  -webkit-animation: bounce-1 0.6s;
  -moz-animation: bounce-1 0.6s;
  animation: bounce-1 0.6s;
}
}

@-webkit-keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.timeline-content {
  position: relative;
  margin-left: 40px;
  color: black;
  background: white;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 3px 0 #999;
}
.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content p, .timeline-content .read-more, .timeline-content .date {
  color: #7f8c97;
  font-size: 16px;
}
.timeline-content .read-more, .timeline-content .date {
  display: inline-block;
}
.timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.timeline-content .read-more {
  float: right;
  font-size: 14px;
  padding: .8em 1em;
  background: #660198;
  color: white;
  border-radius: 0.25em;
}
.no-touch .timeline-content .read-more:hover {
  background-color: #bac4cb;
}
.timeline-content .date {
  float: left;
  padding: 0 0;
  opacity: .7;
}
.timeline-content:before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {

  .timeline-content .read-more, .timeline-content .date {
    font-size: 12px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .timeline-content:before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .timeline-content .read-more {
    float: left;
    font-size: 14px;
    margin-top: 4px;
  }
  .timeline-content .date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content:before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .timeline-block:nth-child(even) .timeline-content .read-more {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content .date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: bounce-2 0.6s;
    -moz-animation: bounce-2 0.6s;
    animation: bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
