
html,body {
	font-family: "Lucida Console", Monaco, monospace;
	background: url(bg.png) no-repeat center center fixed;
	color: #ffffff;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}	

li {
	display: inline;
	color: #ffffff;
}

a{
	color: #ffffff;
}

.pad{
	padding-bottom: 40px !important;
}
	
.navbar{
	border-radius:0px !important;
	border: 0px;
	background-color: black;
	opacity: 0.50;
}

.footer {
	position: fixed;
	z-index: +1;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: white;
	opacity: 0.3;
	text-align: right;
}
	