
html,body {
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	line-height: 135%;
	font-family: "Lucida Console", Monaco, monospace;
	background-image: url(bg.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	}
	
	h1,h2,h3,h4,h5,h6,p,ul,li {
		color: #ffffff;
	}
	
	a {
		color: inherit;
		text-decoration: none;
	}
	
	nav {
        z-index: +10;
		display: block;
		height:20px;
		position:fixed;
        top: 0;
        left:0;
        right:0;
		border-bottom: 1px solid white;
		background-color: black;
		text-align: right;
		min-width:inherit;
		font-weight: bold;
		color: #ffffff;
		padding: 7px;
		margin-left: 0px;
		margin-right: 0px;
		opacity: 0.50;
	}

	div.left { 
		float: left;
		height: 100%;
		width: 100%;
		text-align: left;
	}
	
	#welcome {
		margin-top: 10%;
		margin-left: 10%;
	}
	
	#projects {
		margin-left: 10%;
	}
	
	div.right {
		float: right;
		height: 100%;
		width: 100%;
		text-align: left;	
	}
	
	#social {
		position: fixed;
		margin-right:2px;
		bottom: 7%;
		text-align: center;
	}

	
	.footer {
	    z-index: +11;
		display: block;
		height:20px;
		position:fixed;
        bottom: 0;
        left:0;
        right:0;
		border-top: 1px solid white;
		color: #cc0000;
		font-weight: bold;
		background-color: black;
        min-width:inherit;
        text-align:center;
		padding: 7px;
		margin-left: 0px;
		margin-right: 0px;
		opacity: 0.50;
	}
	