
html,body {
	height: 100%;
	font-family: "Lucida Console", Monaco, monospace;
	background: url(bg.png) no-repeat center center fixed;
	color: #ffffff;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}	

li {
	display: inline;
	color: #ffffff;
}

a{
	color: #ffffff;
	text-decoration: none !important;
}

a:hover {
    color: black;
}

.xp{
	padding-top: 40px;
	padding-right:20%;
	padding-left: 20%;
	width: 100%;
	text-align: center;
	font-size: x-large;
}

@media(max-width:767px){
.xp{
	padding-top: 10px;
	font-size: medium;
	}
}

.pad{
	padding-bottom: 40px !important;
}
	
.navbar{
	border-radius:0px !important;
	border: 0px;
	background-color: black;
	opacity: 0.50;
}

.carousel {
    height: 60%;
}

#myCarousel{
	
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.footer {
	position: fixed;
	z-index: +1;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: white;
	opacity: 0.3;
	text-align: right;
}
	